@import "tailwindcss";

.unaired {
    @apply border-l-2 border-l-zinc-600;
}

.airing {
    @apply border-l-2 border-l-amber-400;
}

.missing {
    @apply border-l-2 border-l-red-500;
}

.downloaded {
    @apply border-l-2 border-l-emerald-500;
}

.downloading {
    @apply border-l-2 border-l-violet-500;
}
